.header {
  position: relative;
  height: 70px;
  padding: 0.4rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header > {
  position: relative;
  z-index: 3;
}

.header > div:nth-child(2) {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  pointer-events: none;
}

.header h1 {
  text-shadow: 1px 1px 2px rgba(255,255,255,.4);
}

.wooden {
  color: #411400;
  background-image: url(/wooden-navbar.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 2px 7px rgba(0,0,0,.35);
}
