.header {
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  text-shadow: 1px 1px 2px rgba(255,255,255,.4);
}

.wooden {
  color: #411400;
  background-image: url(/wooden-navbar.jpg);
  background-size: cover;
  box-shadow: 0px 2px 7px rgba(0,0,0,.35);
}
