name: Scala CI

on:
  push:
    branches: [ main ]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: coursier/cache-action@v6
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Setup Node 12 
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: Npm install
      working-directory: ./app
      run: npm install
    - name: Build Scala.js sources
      run: sbt fullLinkJS
    - name: Build next.js app
      run: npm run build
      working-directory: ./app
    - uses: jsmrcaga/action-netlify-deploy@v1.1.0
      with:
        working-directory: ./app
        build_directory: ./out
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_TOKEN }}
        NETLIFY_SITE_ID: 81dc45ed-bfc4-4b14-acb7-28a3bead8e26
        NETLIFY_DEPLOY_TO_PROD: true
